@font-face {
  font-family: 'BeatriceRegular';
  src: url('./fonts/Beatrice-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'BeatriceSemiBold';
  src: url('./fonts/Beatrice-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'CakoRegular';
  src: url('./fonts/Cako-Regular.woff2') format('woff2');
}


* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

html,
body {
  background: #161616;
  color: #fff;
  font-family: "Neue Machina";
}

body {
  overflow: hidden;
  width: 100%;
}

#smooth-scroll-wrapper {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  overflow: hidden;
  will-change: transform;
}

.green-theme {
  background-color: #3A4638;
  color: white;
}

.pink-theme {
  background-color: #E29473;
  color: #000;
}

.paragraph {
  font-family: 'BeatriceRegular', sans-serif;
}